*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container{
    padding: 20px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}


.links-cont{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.profile-cont{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.main-cont{
    background-color: rgb(252, 251, 251);
}

header{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 749px;
    height: 189px;
    padding-top: 60px;
}

.header-txt1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
}

.header-txt2{
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
.header-txt3{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center; 

}

.mid-section{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 5% 95%;
    gap: 50px;
}

.left-grid{
    width: 1px;
    height: 100%;
    margin: 0 50px;
    margin-right: 0px;
    background-color: black;
}

.right-grid{
    width: 937px;
}

.step-cont{
      border: dashed rgb(219, 218, 218) 1px;
      margin-bottom: 50px;
}

.step{
    padding: 30px;
    display: flex;
}

.step p{
    padding-right: 20px;
    font-weight: bold;
}

.step-header{
    font-weight: 900;
    font-size: 20px;
}

.btn1{
    padding: 7px;
    padding-bottom: 9px;
    border-radius: 5px;
    background: transparent;
    font-size: 15px;
    /* font-weight: bold; */
    border: solid black 1px;
    width: 70px;
    flex-grow: 0 ;
}

.btn2{
    margin-top: 30px;
    padding: 7px;
    border-radius: 5px;
    background: transparent;
    font-size: 15px;
    /* font-weight: bold; */
    background-color: rgb(7, 7, 7);
    color: white;
    width: 70px;
    flex-grow: 0 ;
}

.sub-heading{
    font-weight: 100;
    padding-bottom: 5px;
}

.flex-right{
   display: flex;
   flex-direction: column;
}

.flex-right p{
    padding-top: 25px;
    padding-bottom: 5px;
}

.input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: solid rgba(219, 218, 218, 0) ;
    box-shadow: 3px 3px 15px rgb(187, 187, 187);
    padding: 0 10px;
}

.padding-bottom{
    padding-bottom: 20px;
}

.flex{
    display: flex;
}
