


<!-- The Hero Section  -->
<section class="hero-section">
    <div class="hero-container">
        <h3 class="hero-h3">
            <strong>We're crafting opportunities. <br />One service at a time.</strong>
        </h3>
        <p class="hero-p">
            CraftConnect is built to empower student artisans and make it easier
            for people to find skilled, trustworthy help within their community.
        </p>
    </div>
</section>

<!-- The Mission and Vision Section  -->
<section class="mission">
    <div class="vscontainer">
        <h1>Our Mission and Vision</h1>

        <div class="mvsection">
            <div class="msn-container box">
                <h2>Our Mission</h2>
                <p>
                    To bridge the gap between talented students and the people who
                    need them, while building trust, dignity, and opportunity.
                </p>
            </div>
            <div class="vsn-container box">
                <h2>Our Vision</h2>
                <p>
                    A world where every student artisan can earn and grow from their
                    skill, craft, and every client can find reliable, affordable help.
                </p>
            </div>
            <div class="core-container box">
                <h2>Our Core Values</h2>
                <ul class="box-ul">
                    <li>Empowerment</li>
                    <li>Trust</li>
                    <li>Simplicity</li>
                    <li>Community</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- The How It Works Section  -->
<section class="how-it-works" id="target">
    <div class="title-works">
        <h1>How it Works</h1>
        <p>
            Find Individuals who need your skills and get paid upon rendering
            services
        </p>
    </div>

    <div class="steps-container">
        <div class="step-card">
            <div class="step-number">1</div>
            <h3>Find Artisans</h3>
            <p>
                Find Verified, trusted, and reliable service providers in your
                neighborhood.
            </p>
        </div>
        <div class="step-card">
            <div class="step-number">2</div>
            <h3>Get Matched</h3>
            <p>Hire the best available & verified worker for the job.</p>
        </div>
        <div class="step-card">
            <div class="step-number">3</div>
            <h3>Connect and Chat</h3>
            <p>Connect and chat with desired artisans to discuss project flow.</p>
        </div>
        <div class="step-card">
            <div class="step-number">4</div>
            <h3>Get it Done and Review</h3>
            <p>
                Book, contact, or communicate via inbox with the selected artisan
                and request a quotation.
            </p>
        </div>
    </div>

    <div class="explore-btn">
        <button
            class="exp-btn"
            type="button"
            onclick="location.href='/explore-artisans'"
        >
            Explore an Artisan
        </button>
    </div>
</section>

<!-- The Call To Action section -->
<section class="CTA-section">
    <div class="image-carousal">
        <img
            src="images/About-2.png"
            alt="tradeImg"
            width="300px"
            class="carousal"
        />
        <img
            src="images/About-2.png"
            alt="tradeImg"
            width="300px"
            class="carousal"
        />
        <img
            src="images/About-2.png"
            alt="tradeImg"
            width="300px"
            class="carousal"
        />
    </div>

    <div>
        <h2>Join the CraftConnect Community</h2>
        <p>
            Become a student artisan today and showcase your craft!
            <br />Over <strong>20,000+</strong> student professionals
        </p>
    </div>

    <button
        class="btn community"
        type="button"
        onclick="location.href='/become-an-artisan'"
    >
        Become an Artisan
    </button>
</section>







<section>
    <div id="container">
        <div id="header">
        <header>
            <a href="" id="titleName">
            <div id="name">
                <h1 id="first">Craft</h1><h1 id="second">Connect</h1>
            </div>
            </a>
            
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Explore Artisans</a></li>
                    <li><a href="">Become An Artisan</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>

            <div id="userNameDiv">
                <p id="userName">Hi, John</p>
            </div>
        </header>
    </div>
    
      <!-- <div id="searchDiv">
            <button type="button" id="filterBtn">Filter ⏳</button>
            <input type="search" id="search" placeholder="Search Artisan, Work category">
            <button type="button" id="searchBtn">Search 🔍</button>
        </div> -->
    </div>

    <div id="bodyContainer">
        <div id="category">
            <div id="categoryInfo">
                <h2>Discover verified artisans near you</h2>
                <p>From crafts to services, find the job that suites your need. Choose a category to begin</p>
            </div>
            <div id="categoryItems">
                <a href="">
                <div id="item1" class="item">
                    <div class="image">
                        <img src="images/Screenshot_2024-09-12-00-51-05-971_com.google.android.googlequicksearchbox (6).jpg" alt="categoryBackground">
                    </div>
                    <div id="info1">
                        <h3>Hair and Beauty</h3>
                        <p>Braiding, Make-up, Nails and Grooming</p>
                        <p style="float: right;">42 Artisans</p>
                    </div>
                </div>
                </a>
                <a href="">
                <div id="item2" class="item">
                    <div class="image">
                        <img src="images/Screenshot_2024-09-12-00-51-05-971_com.google.android.googlequicksearchbox (6).jpg" alt="categoryBackground">
                    </div>
                    <div id="info2">
                        <h3>Tailoring and Fashion</h3>
                        <p>Sewing, Knitting, Clothing e.t.c</p>
                        <p style="float: right; font-size: 11px;">42 Artisans</p>
                    </div>
                </div>
                </a>

                <a href="">
                <div id="item3" class="item">
                    <div class="image">
                        <img src="images/Screenshot_2024-09-12-00-51-05-971_com.google.android.googlequicksearchbox (6).jpg" alt="categoryBackground">
                    </div>
                    <div id="info3">
                        <h3>Photography</h3>
                        <p>Videography, Photography and Editing</p>
                        <p style="float: right; font-size: 11px;">42 Artisans</p>
                    </div>
                </div>
                </a>

                <a href="">
                <div id="item4" class="item">
                    <div class="image">
                        <img src="images/Screenshot_2024-09-12-00-51-05-971_com.google.android.googlequicksearchbox (6).jpg" alt="categoryBackground">
                    </div>
                    <div id="info4">
                        <h3>ICT & Tech</h3>
                        <p>Developers, UI/UX, Data analysis e.t.c</p>
                        <p style="float: right; font-size: 11px;">42 Artisans</p>
                    </div>
                </div>
                </a>

                <a href="">
                <div id="item5" class="item">
                    <div class="image">
                        <img src="images/Screenshot_2024-09-12-00-51-05-971_com.google.android.googlequicksearchbox (6).jpg" alt="categoryBackground">
                        </div>
                    <div id="info5">
                        <h3>Graphics & Arts</h3>
                        <p>Graphics, Video Editing e.t.c</p>
                        <p style="float: right; font-size: 11px;">42 Artisans</p>
                    </div>
                </div>
            </div>
            </a>

            <div id="categoryItems2">
                <a href="">
                 <div id="item6" class="item">
                        <div class="image">
                            <img src="images/Screenshot_2024-09-12-00-51-05-971_com.google.android.googlequicksearchbox (6).jpg" alt="categoryBackground">
                        </div>
                        <div id="info6">
                            <h3>Hair and Beauty</h3>
                            <p>Braiding, Make-up, Nails and Grooming</p>
                            <p style="float: right; font-size: 11px;">42 Artisans</p>
                        </div>
                    </div>
                </a>

                <a href="">
                <div id="item7" class="item">
                    <div class="image">
                        <img src="images/Screenshot_2024-09-12-00-51-05-971_com.google.android.googlequicksearchbox (6).jpg" alt="categoryBackground">
                    </div>
                    <div id="info7">
                        <h3>Tailoring and Fashion</h3>
                        <p>Sewing, Knitting, Clothing e.t.c</p>
                        <p style="float: right; font-size: 11px;">42 Artisans</p>
                    </div>
                </div>
                </a>
                
                <a href="">
                <div id="item8" class="item">
                    <div class="image">
                        <img src="images/Screenshot_2024-09-12-00-51-05-971_com.google.android.googlequicksearchbox (6).jpg" alt="categoryBackground">
                    </div>
                    <div id="info8">
                        <h3>Photography</h3>
                        <p>Videography, Photography and Editing</p>
                        <p style="float: right; font-size: 11px;">42 Artisans</p>
                    </div>
                </div>
                </a>
                
                <a href="">
                <div id="item9" class="item">
                    <div class="image">
                        <img src="images/Screenshot_2024-09-12-00-51-05-971_com.google.android.googlequicksearchbox (6).jpg" alt="categoryBackground">
                    </div>
                    <div id="info9">
                        <h3>ICT & Tech</h3>
                        <p>Developers, UI/UX, Data analysis e.t.c</p>
                        <p style="float: right; font-size: 11px;">42 Artisans</p>
                    </div>
                </div>
                </a>

                <a href="">
                <div id="item10" class="item">
                    <div class="image">
                        <img src="images/Screenshot_2024-09-12-00-51-05-971_com.google.android.googlequicksearchbox (6).jpg" alt="categoryBackground">
                    </div>
                    <div id="info10">
                        <h3>Graphics & Arts</h3>
                        <p>Graphics, Video Editing e.t.c</p>
                        <p style="float: right; font-size: 11px;">42 Artisans</p>
                    </div>
                </div>
                </a>
            </div>
        </div>

        <a href="">
            <button type="button" id="seeMoreBtn">See all Categories ⇾</button>
        </a>
    </div>
</section>



<section>
    <div class="container">
      <div class="image-section">
        <img src="images/imagecraftkonnect.jpg" alt="Artisan working" />
      </div>
      <div class="login-section">
        <div class="login-header">
          <h1>Welcome back, your next masterpiece starts here.</h1>
          <button class="google-btn">
            <img src="images/icons and favicon/google.png" alt="Google logo" />
            Sign up with Google
          </button>
          <div class="divider">
            <span>Or use Email</span>
          </div>
        </div>

        <form id="login-form">
          <div class="login-input">
            <label for="email"><strong>E-mail/Username</strong></label>
            <input
              type="text"
              id="email"
              placeholder="Email address"
              required
            />
            <label for="password"><strong>Password</strong></label>
            <input type="password" placeholder="Password" required />
          </div>

          <div class="options">
            <div class="remember-me">
              <input type="checkbox" />
              <label> Remember me </label>
            </div>
            <a href="#">Forget Password?</a>
          </div>
          <button type="submit" class="login-btn">Login to CraftConnect</button>
        </form>
        <div class="login-footer">
          <p>
            By signing up to CraftConnect, you agree to our
            <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a>
          </p>
          <p>
            Don&apos;t have an account?
            <a href="signup.html">Create an account</a>
          </p>
        </div>
      </div>
    </div>
    <script>src="login.js"</script>
</section>