@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #8000dc;
	--secondary-color: #145a32;
	--alternate-color: #4caf50;
	--background-color: #f9f9f9;
	--text-color: #333333;
	--second-color: #ffffff;
	--font-family: 'poppins', sans-serif;
}

.logo a {
	font-size: 28px;
	line-height: 100%;
	/* font-style: italic; */
	text-decoration: none;
	color: #333;
	font-weight: bold;
	/* transition: transform 0.5s ease-in-out; */
}

.logo .sp1,
.logo .sp2{
	font-weight: bold;
	font-style: italic;
	font-size: large;
}
.logo .sp1{
	color: var(--primary-color);
}

.logo .sp2 {
	color: var(--alternate-color);
}

html,
body {
	font-family: var(--font-family);
	color: var(--text-color);
	line-height: 1.6;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body{
	position: relative;
}


.fixed{
	/* position: absolute; */
	overflow: hidden;
	height: 100vh;
	position: fixed;
	width: 100%;
}

.display{
	display: none;
}

.checkbtn{
	display: none;
}

.sidebar-cont{
	right: 0;
    /* display: none; */
    position: fixed;
    z-index: 4;
    background-color: rgba(223, 223, 223, 0.347);
    height: 100%;
    width: 200px;
    animation: fromleft 1s;
	backdrop-filter: blur(5px);
}

.mobile-sidebar{
    margin-top: 30px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.fa-square-xmark{
	padding: 10px;
}

.mobile-sidebar li{
	padding: 40px 0;
	list-style: none;
}

#check{
	display: none;
}

.nav-container{
    padding: 20px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}


.links-cont{
    width: 600px;
    display: flex;
    justify-content: space-between;
	font-weight: bold;
	list-style: none;
}

a{
	text-decoration: none;
	color: #333;
}

a:hover {
	color: var(--secondary-color);
}

.links-cont a.active {
	/* text-decoration: underline;
	text-decoration-thickness: 3px;
	text-underline-offset: 15px;
	color: var(--primary-color); */

	color: var(--primary-color);
	text-decoration: none;
	border-radius: 3px;
	border-bottom: 3px solid var(--primary-color);
	padding-left: 10px; /* Extends underline left */
	padding-right: 10px; /* Extends underline right */
	padding-bottom: 12px; /* Adjusts the space between text and underline */
}


.profile-container {
	position: relative;
}

.profile-info {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 10px;
}

.profile-icon {
	position: relative;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	border-radius: 50px;
}

.profile-icon img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

/* Profile Name */
.profile-name {
	font-size: 16px;
	color: #333;
}

/* Dropdown Arrow */
.dropdown-arrow {
	font-size: 12px;
	transition: transform 0.3s;
}

/* Rotate arrow when active */
.dropdown-arrow.active {
	transform: rotate(180deg); /* Point the arrow up */
}

/* Dropdown Menu */
.dropdown-menu {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: none;
	width: 150px;
}

.dropdown-menu ul {
	list-style: none;
	margin: 0;
	padding: 10px 0;
}

.dropdown-menu li {
	padding: 10px 20px;
}

.dropdown-menu li a {
	text-decoration: none;
	color: #333;
	display: block;
	transition: background-color 0.2s;
}

.dropdown-menu li:hover a {
	background-color: #f4f4f4;
}


.main-cont{
    background-color: rgb(252, 252, 252);
}

header{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 749px;
    height: 189px;
    padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
}

.header-txt1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
	text-align: center;
}

.header-txt2{
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
.header-txt3{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center; 

}

.mid-section{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 5% 95%;
    gap: 50px;
}

.left-grid-cont{
	position: relative;
}

.bar{
    width: 2px;
    height: 100%;
    margin: 0 50px;
    margin-right: 0px;
    background-color: rgb(153, 153, 153);
}

.done1{
	position: absolute;
	z-index: 10;
	/* width: 20px;
	height: 20px; */
	top: 50px;
	left: 37px;
	border-radius: 50%;
	background-color: rgb(0, 221, 0);
}

.done2{
	position: absolute;
	z-index: 10;
	/* width: 20px;
	height: 20px; */
	top: 20%;
	left: 37px;
	border-radius: 50%;
	background-color: rgb(219, 218, 218);
}

.done3{
	position: absolute;
	z-index: 10;
	/* width: 20px;
	height: 20px; */
	top:60%;
	left: 37px;
	border-radius: 50%;
	background-color: rgb(219, 218, 218);
}

.done4{
	border-radius: 100%;
	width: 16px;
	height: 16px;
	background-color: orangered;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa-check{
	padding: 7px;
	color: white;
}

.check2{
	font-size: 10px;
	/* padding: 1px 5px; */
	color: white;
}

.right-grid{
    width: 90%;
}

.step-cont{
      border: dashed rgb(219, 218, 218) 2px;
      margin-bottom: 50px;
}

.step{
    padding: 30px;
    display: flex;
}

.step p{
    padding-right: 20px;
    font-weight: bold;
}

.step-header{
    font-weight: 900;
    font-size: 20px;
}

.btn1{
    padding: 7px;
    padding-bottom: 9px;
    border-radius: 5px;
    background: transparent;
    font-size: 15px;
    font-weight: bold;
    border: solid black 2px;
    width: 80px;
    flex-grow: 0 ;
}

.btn2{
    margin-top: 30px;
    padding: 7px;
    border-radius: 5px;
    background: transparent;
    font-size: 15px;
    /* font-weight: bold; */
    background-color: rgb(7, 7, 7);
    color: white;
    width: 70px;
    flex-grow: 0 ;
}

.sub-heading{
    font-weight: 100;
    padding-bottom: 5px;
}

.flex-right{
   display: flex;
   flex-direction: column;
}

.flex-right p{
    padding-top: 25px;
    padding-bottom: 5px;
}

.input{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(210, 210, 210) 1px;
    /* box-shadow: 3px 3px 15px rgb(187, 187, 187); */
    padding: 0 10px;
}

.popup-cont{
	background-color: #FFD1BA;
	width: 65%;
	flex: 1;
	border-radius: 7px;
	margin-top: 30px;
}
.popup{
	gap: 5px;
	padding: 7px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.popup h6{
	flex: 1;
}

.upload-area{
	background-color: #F2E6FC;
	width: 100%;
	height: 189px;
    margin: 50px 0;
	border-width: 1px;
	border-radius: 8px;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: dotted #8000DC 2px;
	cursor: pointer;
}

.fa-file-arrow-up{
	font-size: 60px;
	color: #8000DC;
	margin: 10px 0;
}

.upload-area h6{
	font-weight: 200;
	color: #7C8795;
	font-size: 14px;
}

.btn-cont{
	display: flex;
	justify-content: center;
	width: 100%;
}

.browse{
	color: #8000DC;
	text-decoration: underline;
}

.btn3{
	width: 80%;
	background-color: #A8A6A9;
    padding: 20px 0;
	border: none;
	border-radius: 7px;
	color: white;
	font-size: 16px;
	font-weight: 500;
}

.padding-bottom{
    padding-bottom: 20px;
}

.flex{
    display: flex;
}


/* Footer Section  */
.footer {
	display: flex;
	gap: 40px;
	justify-content: space-around;
	padding: 40px 65px;
	background: #232429;
}

.btn {
	background: linear-gradient(295deg, #3771c8, #8000dc);
	color: var(--second-color);
	padding: 14px 26px;
	margin-top: 20px;
	margin-bottom: 48px;
	border-radius: 4px;
	border: none;
	font-size: 12px;
}

.cta {
	width: 50%;
	/* max-width: 460px; */
	height: 380px;
	background-color: #353639;
	color: var(--second-color);
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}

.cta h2 {
	padding: 40px;
	font-size: 32px;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: 0%;
}

.cta p {
	color: #e4dbdb;
	font-family: Inter;
	font-weight: 400;
	font-size: 16px;
	line-height: 145%;
	letter-spacing: 0%;
	padding: 0 40px;
}

.cta-btn {
	margin: 80px 40px 0 40px;
}

.prd {
	display: flex;
	gap: 20px;
	font-size: 10px;
	padding: 40px;
	margin-bottom: 60px;
}

.footer-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-list a {
	text-decoration: none;
	color: #3e3838;
}

.footer-logo {
	width: 30%;
	margin-right: 20px;
}

.footer-logo2{
	display: none;
}

.unik {
	margin-bottom: 15px;
}

.unique {
	display: flex;
	flex-direction: column;
	background: #f2e6fc;
	border-radius: 20px;
}

.bottom {
	list-style: none;
	display: flex;
	justify-content: space-between;
	font-size: 10px;
	padding-left: 40px;
}

.bottom a {
	text-decoration: none;
	color: #3e3838;
}

.copyright {
	margin-right: 55px;
}

/* Responsive Design / Media Queries */

/* Media Queries */
@media (max-width: 900px) {
	.navbar {
		display: none;
		flex-direction: column;
		gap: 10px;
		position: absolute;
		top: 100%;
		right: 0;
		background-color: var(--background-color);
		width: 100%;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	.nav-links a.active {
		border: none;
	}

	.navbar.show {
		display: flex;
	}

	.menu-toggle {
		display: block;
	}

	.nav-links {
		flex-direction: column;
		align-items: center;
	}

	.profile-container {
		display: flex;
		margin-left: 320px;
	}
}


@media (max-width: 980px) {
   .footer{
      flex-direction: column;
	  justify-content: center;
	  align-items: center;
   }

   .cta,
   .unique{
	  width: 80%;
   }
}

@media (max-width: 966px) {
   .links-cont, .profile-cont{
	display: none;
   }

   .checkbtn{
	display: initial;
   }

   /* #check:checked ~ .sidebar-cont{
	display: none;
} */
}

@media (max-width: 880px) {
    .step p{
		/* width: 100%; */
		white-space: nowrap;
	}
}

@media (max-width: 844px) {
   .popup-cont{
	 font-size: small;
   }
}
/* @media (max-width: 818px) {
   .popup-cont{
	 width: 63%;
   }
}
@media (max-width: 738px) {
   .popup-cont{
	 width:69%;
   }
}

@media (max-width: 682px) {
   .popup-cont{
	 width: 75%;
   }
}  */

/*
@media (max-width: 844px) {
   .popup-cont{
	 width: 57%;
	 font-size: small;
   }
} 
@media (max-width: 844px) {
   .popup-cont{
	 width: 57%;
	 font-size: small;
   }
} 
@media (max-width: 844px) {
   .popup-cont{
	 width: 57%;
	 font-size: small;
   }
} 
   */

@media (max-width: 635px) {
	.cta-btn {
		margin: 20px 40px 0 40px;
	}

	.cta,
	.unique{
		width: 100%;
	}
}

@media (max-width: 600px) {
    .header-txt1{
		font-size: 20px;
	}
    .header-txt2{
		font-size: 16px;
	}
    .header-txt3{
		font-size: 10px;
	}
}

@media (max-width: 560px) {
	.cta-btn {
		margin: 20px 40px 0 40px;
	}

	.cta,
	.unique{
		width: 100%;
	}

	.footer{
		padding: 10px;
	}
}

@media (max-width: 533px) {
	.done3{
		top:  70%;
	}

	.step{
		padding: 10px;
		display: flex;
	}
	
	.step p{
		padding-right: 7px;
		font-weight: bold;
	}

	.mid-section{
		gap: 20px;
	}

	.bar{
		margin: 0 17px;
	}

	.done1,.done2,.done3{
		left: 3px;
	}
}

@media (max-width: 410px) {
	.prd {
		display: flex;
		gap: 5px;
		font-size: 10px;
		padding: 10px;
		margin-bottom: 40px;
		/* background-color: #145a32; */
	}
	
	.footer-list {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

    .footer-logo2{
		display: initial;
		padding-bottom: 20px;
	}

	.footer-logo{
		display: none;
	}

	.bottom {
		font-size: 10px;
		padding-left: 10px;
	}
	
	.copyright {
		margin-right: 5px;
	}
}