<!-- The Footer Section  -->
<footer>
    <div class="footer">
        <div class="cta">
            <h2>Sign in as an Artisan</h2>
            <p>
                sign in now to get the best from this service and enjoy premium
                connect to craft men and women, while getting opportunity to
                showcase your own craft.
            </p>
            <button>  class="btn cta-btn" type="button onclick="location.href='/login'">
                Get Started Today.
            </button>
        </div>
        <div class="unique">
            <div class="prd">
                <div>
                    <ul class="footer-list">
                        <li class="unik"><a href="#">Product</a></li>
                        <li><a href="/exploreartisans">Explore Artisan</a></li>
                        <li><a href="#">Top-Rated Artisan</a></li>
                        <li><a href="/becomeanartisan">Become an Artisan</a></li>
                        <li><a href="/about#target">How it Works</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="footer-list">
                        <li class="unik"><a href="#">Community</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">FAQs</a></li>
                        <li><a href="/contact">Trust & Safety</a></li>
                        <li><a href="/contact">Report a Problem</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="footer-list">
                        <li class="unik"><a href="#">Learn</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Codes of Conduct</a></li>
                        <li><a href="#">Community Guideline</a></li>
                    </ul>
                </div>
                <div class="footer-logo logo">
                    <a href="/">
                        <span class="sp1">Craft</span><span class="sp2">Connect</span>
                    </a>
                </div>
            </div>

            <div class="bottom">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li class="copyright">
                    &copy; 2025 CraftConnect. All Rights Reserved.
                </li>
            </div>
        </div>
    </div>
</footer>